.filter {
  text-align: left;
}

.filterGroup {
  margin-top: .7rem;
  display: flex;
}

.filterItem {
  padding: .3rem 1rem;
  border: 1px solid;
  border-radius: 3px;
  margin-right: .4rem;
  cursor: pointer;
  user-select: none;
}

.filterItem.active {
  color: #fff;
}

.filterItem:first-child.active {
  background: #000;
}

.filterItem input {
  display: none;
}